
body {
  align-content: center;
  text-align: center;
  color: black;
  background-color: #16463D;
  font-family: 'Alegreya', serif;
  background-repeat: repeat; 

    
} 

.logo {
padding-top: 30px;
width: 250px;  
height: 250px;
}

.navBar {
  color: white;
  
}

.btn-color {
  text-align: center;
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #665150, #E8EFD5);
  padding: 15px;
  cursor: pointer;
}

.btn-color:hover {
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to right, #FFEFD9, #E8EFD5)
}

.btn-white {
  
  color: #fff;
  background-image: linear-gradient(to right, #665150, #E8EFD5);
  cursor: pointer;

}

.btn-white:hover {
  color: #fff;
  background-image: linear-gradient(to right, #FFEFD9, #E8EFD5)
}

